<div class="jumbotron center">
	<div class="container">
		<h1>About <font  class="titleWebQ PrimColorWebQ">W</font><font class="titleWebQ AltColorWebQ">?</font></h1>
		<hr>
		<p class="text-center">Web Questionnaire, a tool for designing and distributing questionnaires.<br><br>
		Web Questionnaire allows the user to develop new questionnaires, manage multiple projects, quickly edit previously created questionnaires, and distribute them to respondents using a variety of methods. 
		<br><br>Responses are collected and available to the designer from one easy to manage location</p>
	</div>
</div>
