<% if user_signed_in? && current_page?('/') != true%>
	<div class="container">
		<ol class="breadcrumb nobg">
	    <%= render_breadcrumbs :tag => :li, :separator => "" %>
		</ol>
	</div>
<% end %>